/*
 * Custom Binding
 * Date: 2023.28.08
 * Creator: Colm Dooley
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |       |  Y  |  U   |  I  |  O  |  P  |      |
// | CTRL |  A  |  S  |  D  |  F  |  G  |       |  H  |  J   |  K  |  L  | BSPC|      |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |       |  N  |  M   |  ,  |  .  |ENTER|      |
//                    | GUI | LWR | SHFT |       | TAB/Spc | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U  &kp I     &kp O   &kp P    &none
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G      &kp H &kp J  &kp K     &kp L   &kp BSPC &none
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B      &kp N &kp M  &kp COMMA &kp DOT &kp RET &none
                  &kp LGUI &mo 1 &kp LSHFT  &ht_tp TAB SPC &mo 2 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |     | DEL |  UP  |  INS  |     |   |  7  |  8  |  9  |  0  |     |      |
// | SHFT | CAPS| LEFT| DOWN | RIGHT |     |   |  4  |  5  |  6  |     |     |      |
// | CTLR | Home|PG_Dn|PG_Up | End   |PScrn|   |  1  |  2  |  3  |     |     |      |
//                    | GUI  |  LWR  |SHFT |   | Tab/Spce|  TRI  | ALT |
                        bindings = <
   &trans &trans    &kp DEL      &kp UP       &kp INS       &trans         &kp N7   &kp N8   &kp N9  &kp N0   &trans  &trans
   &trans &kp CAPS  &kp LEFT     &kp DOWN     &kp RIGHT     &trans         &kp N4   &kp N5   &kp N6  &trans   &trans  &trans
   &trans &kp HOME  &kp PG_DN    &kp PG_UP    &kp END       &kp PSCRN      &kp N1   &kp N2   &kp N3  &trans   &trans  &trans
                                 &trans       &trans        &trans     	   &trans   &mo 3    &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  `  |  ~  |      |
// | SHFT |  "  |  [  |  {  |  (  |     |   |  /  |  -  |  =  |  :  |  ;  |      |
// | CTLR |  '  |  ]  |  }  |  )  |     |   |  \  |  _  |  +  | "|" |  ?  |      |
//                    | GUI | TRI | SHFT|   |TAB/Spc| RSE | ALT |
                        bindings = <
   &trans &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY  &kp GRAVE  &kp TILDE &trans
   &trans &kp DQT   &kp LBKT  &kp LBRC  &kp LPAR  &trans      &kp FSLH  &kp MINUS &kp EQUAL 	   &kp COLON  &kp SEMI  &trans
   &trans &kp SQT   &kp RBKT  &kp RBRC  &kp RPAR  &trans      &kp BSLH  &kp UNDER &kp PLUS  	   &kp PIPE   &kp QMARK &trans
							  &trans    &trans    &trans      &trans    &mo 3     &trans
                        >;
                };
                tri_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  F1  |  F2  |  F3  |  F4  | Prof 0 |   | Prof 2 |OUT Tog|GAME LAY| MUTE |M NEXT|      |
// | SHFT |  F5  |  F6  |  F7  |  F8  | Prof 1 |   | Prof 3 |INC Bri|VCC TOG |Vol Up|M PP  |      |
// | CTLR |  F9  |  F10 |  F11 |  F12 | BT_CLR |   | Prof 4 |DEC Bri|BKLT TOG|Vol Dn|M PREV|      |
//                      | GUI  | TRI  |  SHFT  |   |TAB/Spc| RSE | ALT |
                        bindings = <
   &trans &kp F1  &kp F2    &kp F3  &kp F4  &bt BT_SEL 0	&bt BT_SEL 2  &out OUT_TOG   &tog 4    	&kp C_MUTE    &kp C_NEXT &trans
   &trans &kp F5  &kp F6    &kp F7  &kp F8  &bt BT_SEL 1	&bt BT_SEL 3  &kp C_BRI_UP   &ext_power EP_TOG  &kp C_VOL_UP  &kp C_PP   &trans
   &trans &kp F9  &kp F10   &kp F11 &kp F12 &bt BT_CLR     	&bt BT_SEL 4  &kp C_BRI_DN   &bl BL_TOG   &kp C_VOL_DN  &kp C_PREV &trans
							&trans  &trans  &trans      	&trans        &trans         &trans
                        >;
                };
				gaming_layer {
// -----------------------------------------------------------------------------------------
// |ESC/UNTOG | TAB  |  Q  |  W  |  E  |  R  |      |  T  |  Y  |  U   |  I  |  O  |  P  |
// | CAPS     | SHIFT|  A  |  S  |  D  |  F  |      |  G  |  H  |  J   |  K  |  L  | BSPC|
// | CTRL     | CTRL |  Z  |  X  |  C  |  V  |      |  B  |  N  |  M   |  ,  |  .  |ENTER| 
//                    | GUI | LWR | SPC |       	| TAB/Spc | RSE  | ALT |
                        bindings = <
   &tog 4    &kp ESC   &kp Q &kp W &kp E &kp R    &kp T  &kp Y &kp U  &kp I     &kp O   &kp P    
   &kp TAB   &kp LSHFT &kp A &kp S &kp D &kp F    &kp G  &kp H &kp J  &kp K     &kp L   &kp BSPC 
   &kp CAPS  &kp LCTRL &kp Z &kp X &kp C &kp V    &kp B  &kp N &kp M  &kp COMMA &kp DOT &kp RET 
                          &kp LGUI &mo 0 &kp SPC  &ht_tp TAB SPC &mo 2 &kp RALT
                        >;
                };
        };
};
